.root {
    -fx-background-color: #2A2A2A;
}

.root .header-panel {
    -fx-background-color: #2A2A2A;
}

Button {
    -fx-background-color: #00ffd1;
}

Button:hover {
    -fx-background-color: #00f0c0;
}

Button:pressed {
    -fx-background-color: #00e5b5;
}

CheckBox .box {
    -fx-background-color: #00ffd1;
}

TextField {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #00ffd1;
}

Label {
    -fx-text-fill: #00ffd1;
}

.addCardPane Label {
    -fx-font-size: 15;
    -fx-font-weight: 900;
}

.cardComponent {
    -fx-background-radius: 13;
    -fx-border-radius: 13;
    -fx-background-color: #2A2A2A ;
    -fx-control-inner-background: #2A2A2A;
    -fx-background-radius: 13;
    -fx-text-fill: #00ffd1;
    -fx-border-width: 0;
}

.innerComponent {
    -fx-background-color: #1b1b1b;
    -fx-background: #1b1b1b;
    -fx-background-radius: 13;
    -fx-border-width: 0;
}


.verticalScrollOnly {
    -fx-hbar-policy: never;
}

.horizontalScrollOnly {
    -fx-vbar-policy: never;
}

.noScrollVisible {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

ScrollBar {
    -fx-background-color: transparent;
}

ScrollBar .thumb {
    -fx-background-color: #2a2a2a;
}

ScrollBar .decrement-button {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

}

ScrollBar .decrement-arrow {
    -fx-background-color: transparent;
}

ScrollBar .increment-button {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
}

ScrollBar .increment-arrow {
    -fx-background-color: transparent;
}

.tag {
    -fx-background-radius: 10;
}

.tag Label {
    -fx-text-fill: black;
}


ScrollPane {
    -fx-background-color: #1b1b1b;
    -fx-background: #1b1b1b;
    -fx-background-radius: 5;
}

ScrollPane .viewport{
}

.boardsContainer {
    -fx-background-color: #1b1b1b;
    -fx-background-radius: 5;
}

.boardCard {
    -fx-background-color: #2A2A2A;
    -fx-background-radius: 5;
}

TextArea {
    -fx-control-inner-background: #2A2A2A;
    -fx-text-fill: #00ffd1;
    -fx-border-color: transparent;
}

.boardCardLabel {
    -fx-font-size: 20;
    -fx-text-fill: #00ffd1;
    -fx-font-weight: bold;
}

.boardCardLabelDescription {
    -fx-font-size: 12;
    -fx-text-fill: #00ffd1;
    -fx-font-weight: 700;
}

.verticalScrollOnly {
    -fx-hbar-policy: never;
}

.horizontalScrollOnly {
    -fx-vbar-policy: never;
}

.noScrollVisible {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

ScrollBar {
    -fx-background-color: transparent;
}

ScrollBar .thumb {
    -fx-background-color: #2a2a2a;
}

ScrollBar .decrement-button {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

}
CardNode {
    -fx-background-color: #2A2A2A;
    -fx-background-radius: 13;
    -fx-border-radius: 13;
    -fx-border-width: 0;

    }
.list-view .scroll-bar {
    -fx-scale-x: 0;
}


ScrollBar .decrement-arrow {
    -fx-background-color: transparent;
}

ScrollBar .increment-button {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
}

ScrollBar .increment-arrow {
    -fx-background-color: transparent;
}

.tag {
    -fx-background-radius: 10;
}

.tag Label {
    -fx-text-fill: black;
}

.list-cell {
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 0.25em;
    -fx-text-fill: -fx-text-inner-color;
    -fx-opacity: 1;
}

#stackPane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

#stackPane .scroll-bar:vertical,
#stackPane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}
#scrollPane .scroll-bar:vertical,
#scrollPane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}
.lockIcon {
    -fx-fill: green;
}

