.root {
    -fx-background-color: #2A2A2A;
}

.root .header-panel {
    -fx-background-color: #2A2A2A;
}

Button {
    -fx-background-color: #00ffd1;
}

Button:hover {
    -fx-background-color: #00f0c0;
}

Button:pressed {
    -fx-background-color: #00e5b5;
}

TextField {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #00ffd1;
}

Label {
    -fx-text-fill: #00ffd1;
}

TextArea {
    -fx-control-inner-background: #2a2a2a;
    -fx-text-fill: #00ffd1;
}