.root {
    -fx-background-color: #2A2A2A;
}

.root .header-panel {
    -fx-background-color: #2A2A2A;
}

Button {
    -fx-background-color: #00ffd1;
}

Button:hover {
    -fx-background-color: #00f0c0;
}

Button:pressed {
    -fx-background-color: #00e5b5;
}

CheckBox .box {
    -fx-background-color: #00ffd1;
}

TextField {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #00ffd1;
}

Label {
    -fx-text-fill: #00ffd1;
}

.cardComponent {
    -fx-background-color: #2A2A2A ;
    -fx-background-radius: 13;
}

.innerComponent {
    -fx-background-color: #1b1b1b;
    -fx-background: #1b1b1b;
    -fx-background-radius: 13;
}

TextArea {
    -fx-control-inner-background: #2A2A2A;
    -fx-text-fill: #00ffd1;
    -fx-border-color: transparent;
}


ScrollPane {
    -fx-background-color: #1b1b1b;
    -fx-background: #1b1b1b;
    -fx-background-radius: 5;
}

ScrollPane .viewport{
}

.boardsContainer {
    -fx-background-color: #1b1b1b;
    -fx-background-radius: 5;
}

.boardCard {
    -fx-background-color: #2A2A2A;
    -fx-background-radius: 5;
}

.boardCardLabel {
    -fx-font-size: 20;
    -fx-text-fill: #00ffd1;
    -fx-font-weight: bold;
}

.boardCardLabelDescription {
    -fx-font-size: 12;
    -fx-text-fill: #00ffd1;
    -fx-font-weight: 700;
}